.teams-post-btn {
    background-color: #4b53bc;
    color: #fff!important;
    border: none;
    border-radius: 5px;
    -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    height: 2.28571em;
    line-height: 2.28571em;
    padding: 0px 10px;
    vertical-align: middle;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
 }

 .teams-post-btn:hover {
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 13%), 0 0 0.0625rem 0 rgb(0 0 0 / 11%);
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
 }